
.body {
    background: #E5E5E5;
}
    

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: sans-serif;
}

p {
    margin: 0;
}

.container {
    margin-top: 70px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    height: 157px;
    margin-top: 30px;
}

h2, h3 {
    font-size: 40px;
    margin: 0;
}

h2 {
    margin-left: 40px;
    font-weight: 400;
}



/*Header*/

.container-header {
    margin-top: 0;
    height: 100%;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.top-header-left, .header-lk {
    display: flex;
    align-items: center;
}       

.header-contact {
    margin-left: 40px;
}

.header-lk-text  {
    background-image: url(/img/str.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 28px;
    color: #CC9933;
}

.logo {
    margin-right: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 0 45px;
    margin-top: 30px;
    height: 70px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list-item {
    margin-right: 11px;
}

.nav-btn-2 {
    margin-left: 40px;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.btns {
    display: inline-block;
    padding: 13px 20px;
    font-size: 16px;
    border: solid 1px #CC9933;
    color: #CC9933;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}


/*offers*/

.offers-container {
    margin-top: 70px;
}

.offers_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.offers-left {
    width: calc(50% - 11.5px);
}

.offers-left-1 h3, .offers-left-2 h3{
    margin: 0;
}

.offers_content h3{
    color: #fff;
    max-width: 301px;
    /*Заменить после смены шрифта*/
    /*max-width: 299px;*/
    margin-bottom: 15px;
}

.offers-left-1 .offers-bg, .offers-left-2 .offers-bg{
    padding: 40px;
}

.offers-left-1 {
    margin-bottom: 23px;
    width: 100%;
    height: 258px;
    border-radius: 15px;
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.offers-left-2 {
    width: 100%;
    height: 258px;
    border-radius: 15px;
    background-image: url(../img/2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.offers-bg {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 15px;
    background: #354153d6;
    background: linear-gradient(90deg, #354153d6 0%, rgba(53,65,83,0) 50%);
    width: 100%;
    height: 100%;
}

.offers-right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 15px;
    height: 540px;
    width: calc(50% - 11.5px);
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 211px 40px 40px 40px;
}
.offers-right h3{
    font-size: 60px;
}

.details{
    background-image: url(/img/Rectangle2.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    width: fit-content;
    padding-right: 15px;
    color: #FFCC66;
}






/*we*/
.we-description {
    line-height: 32px;
    max-width: 880px;
}

.we-heading {
    margin-bottom: 11px;
}

/*advantages*/

.advantages-heading{
    margin-bottom: 30px;
}

.container_advantages {
    margin-top: 27px;
    margin-bottom: 27px;
}

.advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.advantages-item-description {
    max-width: 188px;
    min-height: 118px;
    margin-top: 20px;
    line-height: 32px;
}

.advantages-content {
    width: 275px;
    height: 100%;
    padding: 41px 45px;
    background-color: white;
    border-radius: 15px;
}

.advantages-item {
    margin-right: 23px;
    margin-bottom: 23px;
}

.advantages-item p {
    margin: 0;
}

.advantages-item:nth-child(4n+4) {
    margin-right: 0px;
}





/*services*/

.section-services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-services .section-heading{
    margin-bottom: 20px;
}

.section-services-description{
    line-height: 32px;
}

.section-services-item{
    background: #fff;
    border-radius: 15px;
    margin-bottom: 23px;
    width: calc(50% - 11.5px);
    padding: 191px 45px 50px 45px;
}

.section-services-title a{
    font-size: 20px;
    background-image: url(/img/Rectangle2-orange.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    width: fit-content;
    padding-right: 15px;
    color: #CC9933;
}

.ssi-1 {
    background-image: url(/img/4.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: contain;
}
.ssi-2 {
    background-image: url(/img/5.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: contain;
}
.ssi-3 {
    background-image: url(/img/6.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: contain;
}
.ssi-4 {
    background-image: url(/img/7.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: contain;
}






/*accommodation*/

.accommodation-heading{
    margin-bottom: 30px;
}

.accommodation-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.accommodation-article {
    width: 374px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 15px;
}

.accommondation-article-text > * {
    margin-bottom: 16px;
}
.accommondation-article-text > *:last-child {
    margin-bottom: 0;
}


.accommondation-article-text{
    padding: 36px 45px 41px 45px;
}
.accommondation-article-text h3{
    font-size: 16px;
}

.accommodation-item {
    margin-right: 23px;
    margin-bottom: 23px;
}

.accommodation-item:nth-child(3n+3) {
    margin-right: 0px;
}

.accommodation-article{
    position: relative;
}

.accommodation-description{
    margin: 0 0 20px 0;
}

.price-star{
    display: flex;
    justify-content: space-between;
}

.accommodation-link{
    position: absolute;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    bottom: 27px;
    font-size: 20px;
    color: #fff;
    background-image: url(/img/Rectangle2-white.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    padding-right: 20px;
}

.aa-bg-detail{
    background-image: url(/img/16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
